@use 'sass:math';
@use 'dariox/vars.scss' as *;
@use 'dariox/linernotes_dark.scss';
// @use 'dariox/vars.scss';
@use 'dariox/account.scss' as *;
@use 'dariox/status.scss' as *;
@use 'dariox/compose.scss' as *;

body.app-body {
    background-color: $bg;
}

.pillbar-button:not([disabled]).active {
    background-color: $bgHead;
}
#new_user .lead {
    background: transparent;
}
.reply-indicator {
    &__display-name,
    &__header {
        background-color: $bg;
        color: $text;
    }
}
.conversation,
.follow_requests-unlocked_explanation {
    background: $bg;
}
.card {
    &__bar {
        background: $bg !important;
    }
}
.dashboard__counters > div > a {
    background: $bg !important;
}
.table td {
    background: rgba($bg, .8);
}
.table > tbody > tr:nth-child(2n+1) > td,
.table.inline-table >tbody >tr:nth-child(2n+1) > td {
    background: $bg !important;
}

.batch-table__row:hover {
    background: $bg !important;
}
.batch-table__row:nth-child(2n):hover {
    background: $bg !important;
}
.notification__filter-bar a.active::after,
.notification__filter-bar button.active::after {
    border-bottom-color: $accent !important;
}
/* ======== Emoji */
.emoji-mart-anchor-bar {
    display: none;
}
.emoji-mart-anchor-icon {
    width: 24px;
    margin-left: -1px;
}
.emoji-mart-bar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.emoji-mart {
    border-radius: 4px !important;
}
.emoji-mart-scroll,
.emoji-mart-category-label span,
.emoji-mart-search {
    background: $bg !important;
}
.emoji-mart-search-icon svg {
    fill: $text !important;
}
.emoji-mart-search-icon {
    opacity: 1 !important;
}
/* ======== Form */
.simple_form h4 {
    margin-bottom: 14px !important;
    background-color: transparent;
}
.column-header {
    &__back-button {
        background: transparent;
    }
    &__buttons:hover {
        background-color: $accent;
    }
}
.column-inline-form {
    background: $bg;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* ======== Advanced Mode */
.drawer {
    &__inner {
        &__mastodon {
            img {
                max-height: 180px !important;
            }
        }
    }
}

/* ======== Badges */
/* Glitch-only */
.simple_form .glitch_only {
    color: #ff8d8d;
    background-color: rgba(255,141,141,.1);
    border-color: rgba(255,141,141,.5);
}
/* Account Role */
.account-role,
.simple_form .glitch_only,
.not_recommended,
.simple_form .recommended
{
    display: inline-block;
    padding: 4px 6px;
    cursor: default;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: var(--user-role-accent, #d9e1e8);
    background-color:  var(--user-role-background, rgba(217,225,232,.1));
    border: 1px solid var(--user-role-border,
    rgba(217,225,232,.5));
}

/* ======== Admin Panel */
.admin-wrapper .content h4
{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: $accentText;
    padding-bottom: 8px;
    border-bottom: 1px solid $accent;
    background-color: transparent;
}
.admin-wrapper {
    .content {
        &__heading {
            &__tabs {
                a {
                    color: $textMuted;
                }
                a:hover {
                    color: $bg;
                }
                a:hover:not(.selected) {
                    color: $text;
                }
                a.selected {
                    background: $bgHead;
                }
                a:focus,
                a.selected:focus {
                    background: $accent;
                }
            }
        }
        .directory {
            &__tag {
                > a:hover,
                > div:hover {
                    background: $bg;
                    outline: 2px solid $accent;
                }
            }
        }
    }
}
.selected.simple-navigation-active-leaf {
    background: $bgHead;
}
.selected.simple-navigation-active-leaf:hover {
    background: $accent;
}
.dashboard {
    &__quick-access {
        background: transparent;
        border: 2px solid $bg;
    
        line-height: 28px;
        height: 28px;
    }
}
.sparkline {
    background: $bg;
    border: 2px solid $bg;
}
a.sparkline {
    &:hover,
    &:focus,
    &:active {
        background: lighten($bg, 6%);
    }
}
.sparkline {
    &__graph {
        path:first-child {
            fill: rgba($bgHead, .25) !important;
            fill-opacity: 100% !important;
        }
        path:last-child {
            stroke: $accent !important;
            fill: none !important;
        }
    }
}
.dimension {
    &__item {
        &__indicator {
            @for $i from 0 through 10 {
                &--#{10 * $i} {
                    background-color: rgba($bgHead, 1 * (math.div(max(1, $i), 10))) !important;
                }
            }
        }
    }
}
.retention {
    &__table {
        &__box {
            @for $i from 0 through 10 {
                &--#{10 * $i} {
                    background-color: rgba($bgHead, 1 * (math.div(max(1, $i), 10))) !important;
                }
            }
        }
    }
}