@use 'sass:math';
@import 'dariox/linernotes_dark.scss';
$bg: rgb(26,21,21);
$text: rgb(255,255,255);
$textBold: rgb(255,255,255);
$textMuted: rgb(153,157,156);

$bgPage: rgb(42,38,37);
$textPage: $text;
$textPageBold: $textBold;
$textPageMuted: $textMuted;

$bgHead: rgb(94,28,148);
$textHead: $textBold;
$accent: rgb(214,41,130);
$accentText: $textBold;

.pillbar-button:not([disabled]).active {
    background-color: $bgHead;
}

.reply-indicator {
    &__display-name,
    &__header {
        background-color: $bg;
        color: $text;
    }
}
.status.statuc-public.focusable:focus {
    background: $bg;
}
.privacy-dropdown {
    &__option {
        &__content {
            div,
            div span {
                color: $text !important;
            }
        }
    }
}
.emoji-mart-anchor-bar {
    display: none;
}
.emoji-mart-anchor-icon {
    width: 24px;
    margin-left: -1px;
}
.emoji-mart-bar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.emoji-mart {
    border-radius: 4px !important;
}
.autosuggest-textarea__textarea,
.compose-form__autosuggest-wrapper,
.compose-form .autosuggest-textarea label .autosuggest-textarea__textarea {
    background-color: $bgPage;
    border-radius: 4px 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid $bg;
    color: $text;
}
.column-settings {
    &__section {
        background-color: transparent;
    }
}
.settings-toggle {
    &__label {
        background-color: transparent;
    }
}
.compose-form {
    &__autosuggest-wrapper{
        background-color: transparent;
    }
}
.column-inline-form {
    background: $bg;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.column-inline-form label .settings-text {
    border-bottom-color: $bgHead;
}
.settings-text:focus {
    outline: 0;
}
.column-inline-form label .settings-text:focus
{
    border-color: $accent;
}
.privacy-dropdown {
    &__option {
        color: $text;
        &__content {
            color: $text;
            strong {
                color: $text;
            }
        }
    }
}
.autosuggest-textarea span,
.display-name {
    color: $text;
}
.detailed-status {
    &__wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}
.status {
    margin-left: 0;
    margin-right: 0;
    &__prepend-icon-wrapper {
        i {
            color: $textMuted;
        }
    }
}
.drawer {
    &__inner {
        &__mastodon {
            img {
                max-height: 180px !important;
            }
        }
    }
}

.simple_form .glitch_only {
    color: #ff8d8d;
    background-color: rgba(255,141,141,.1);
    border-color: rgba(255,141,141,.5);
}
.account-role,
.simple_form .glitch_only,
.not_recommended,
.simple_form .recommended
{
    display: inline-block;
    padding: 4px 6px;
    cursor: default;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: var(--user-role-accent, #d9e1e8);
    background-color:  var(--user-role-background, rgba(217,225,232,.1));
    border: 1px solid var(--user-role-border,
    rgba(217,225,232,.5));
}

.admin-wrapper .content h4
{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: $accentText;
    padding-bottom: 8px;
    border-bottom: 1px solid $accent;
    background-color: transparent;
}
.simple_form h4 {
    margin-bottom: 14px !important;
    background-color: transparent;
}
.column-header {
    &__back-button {
        background: transparent;
    }
    &__buttons:hover {
        background-color: $accent;
    }
}
.admin-wrapper .content {
    &__heading {
        &__tabs {
            a {
                color: $textMuted;
            }
            a:hover {
                color: $bg;
            }
        }
    }
}
.admin-wrapper .content__heading__tabs a {
    color: $textMuted;
}
.admin-wrapper .content__heading__tabs a:hover {
    background: $bg;
}
.selected.simple-navigation-active-leaf,
.admin-wrapper .content__heading__tabs a.selected {
    background: $bgHead;
}
.admin-wrapper .content__heading__tabs a.selected:focus
.selected.simple-navigation-active-leaf:hover {
    background: $accent;
}
.dashboard {
    &__quick-access {
        background: transparent;
        border: 2px solid $bg;
    
        line-height: 28px;
        height: 28px;
    }
}
.sparkline {
    background: $bg;
    border: 2px solid $bg;
}
a.sparkline {
    &:hover,
    &:focus,
    &:active {
        background: lighten($bg, 6%);
    }
}
.sparkline {
    &__graph {
        path:first-child {
            fill: rgba($bgHead, .25) !important;
            fill-opacity: 100% !important;
        }
        path:last-child {
            stroke: $accent !important;
            fill: none !important;
        }
    }
}
.dimension {
    &__item {
        &__indicator {
            @for $i from 0 through 10 {
                &--#{10 * $i} {
                    background-color: rgba($bgHead, 1 * (math.div(max(1, $i), 10))) !important;
                }
            }
        }
    }
}
.retention {
    &__table {
        &__box {
            @for $i from 0 through 10 {
                &--#{10 * $i} {
                    background-color: rgba($bgHead, 1 * (math.div(max(1, $i), 10))) !important;
                }
            }
        }
    }
}

.admin-wrapper .content .directory__tag > a:hover,
.admin-wrapper .content .directory__tag > div:hover {
    background: $bg;
    outline: 2px solid $accent;
}