@import '0-palette';
@import '1-foreground';
@import '2-background';
@import '3-highlights';
@import '5-material';
@import '6-actions';

.column > .scrollable {
    border: none !important;
}

.focusable:focus {
    border: none !important;
}

.focusable:focus .status {
    border: 2px solid var(--accent) !important;
}