$bg: rgb(26,21,21);
$text: rgb(255,255,255);
$textBold: rgb(255,255,255);
$textMuted: rgb(153,157,156);

$bgPage: rgb(42,38,37);
$textPage: $text;
$textPageBold: $textBold;
$textPageMuted: $textMuted;

$bgHead: rgb(94,28,148);
$textHead: $textBold;
$accent: rgb(214,41,130);
$accentText: $textBold;